---
interface Props {
  label: string;
  type?: any;
  name: string;
  pattern?: string;
}

const { label, name, pattern, type = 'text' } = Astro.props;
---

<div
  class="input-group w-full mb-8 mt-12 relative border-b border-slate-300/50"
>
  <input
    type={type}
    name={name}
    id={name}
    pattern={pattern}
    placeholder=" "
    required
    class="w-full h-12 bg-transparent text-yellow-200/90"
  />
  <label
    for="name"
    class="absolute left-2 top-[50%] translate-y-[-50%] transition-all duration-300 text-yellow-200/90"
    >{label}</label
  >
</div>

<style>
  input {
    @apply px-2;
  }
  input:focus {
    box-shadow: none;
    outline: none;
  }
  input:focus + label,
  input:not(:placeholder-shown) + label {
    @apply -top-3 text-white/60;
  }
</style>
